# General
.vscode/

# Python related
__pycache__

# Repo specific
generation/rendering/backgrounds/**/
generation/rendering/documents/**/
generation/rendering/materials/**/
generation/rendering/meshes/**/
generation/rendering/blender*/
generation/rendering/renders/**/

generation/simulation/arcsim-0.2.1/
generation/simulation/configs/**/
generation/simulation/meshes/**/

training/data/**/
training/checkpoints/
training/logs/
training/model/*.ckpt
training/dataset_debug.py

# Other
*.ini
*.zip